/*Nav*/
/* nav {
  background-color: #741AB8;
  height: 90px;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  align-content: center;
  color: #fff;
  font-size: 2.5rem;
}

nav ul li:last-child {
  margin-left: 30px;
} */

body {
  width: 90%;
  margin: 0 auto
}

header {
  background-color: #741AB8;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 20px 0;
  display: none;
}

header nav ul {
  display: flex;
  list-style: none;
  font-size: 2.5rem;
}
header nav ul li {
  margin: 0 15px;
  color: #fff;
}

header nav ul li:last-child {
  margin-left: 30px;
}


header nav ul li a {
  color: #191c03;
}

header img {
  width: 200px;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

/*card*/
.card {
  padding: 15px;
  max-width: 800px;
  height: fit-content;
  background-color: #741AB8;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  justify-content: space-between;
}

.esquerda {
  /* height: 100%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.direita {
  /* height: 100%; */
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #fff;
  padding-left: 15px;
  text-align: justify;
  /* align-self: flex-end; */
  /* justify-self: flex-end; */
}

.photo {
  margin-left: auto;
  /* text-align: right; */
    align-self: flex-end;
  /* justify-self: flex-end; */
}

.personal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.simbol {
  margin-bottom: 15px;
}

.bio {
  color: #fff;
  font-style: italic;
  margin-bottom: 15px;
}

.linkedin {
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
  color: #fff;
  padding: 5px;
}

.name {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}
.card .title, .card .age, .card .stack, .card .location {
  color: #64DC40;
  text-transform: uppercase;
}

.text {
  color: #fff;
}


.photo img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  box-shadow: 5px 5px 15px #000;
  margin: 0 15px;
}

.simbol-img {
  margin: auto;
  width: 160px;
  height: 200px;
  background: url(../img/simbol.png) no-repeat;
  background-position: center;
  background-size: contain;
}



.block span {
  display: block;
}

@media (max-width: 800px) {
  .direita {
    width: 50%;
  }
  .esquerda {
    width: 50%;
    padding-right: 15px;
  }
  .photo {
    display: none;
  }

  .simbol-img {
    background: url(../img/FabioMuller.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 15px #000;
  }

}

@media (max-width: 570px) {
  .card {
    flex-direction: column;
    align-content: space-between;
  }
  .direita {
    width: 100%;
    border: none;
    padding: 0;
  }
  .esquerda {
    width: 100%;
    margin-bottom: 15px;
  }
  .direita .block:not(:last-child) {
    margin-bottom: 15px;
  }

}