/*Nav*/
/* nav {
  background-color: #741AB8;
  height: 90px;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  align-content: center;
  color: #fff;
  font-size: 2.5rem;
}

nav ul li:last-child {
  margin-left: 30px;
} */

body {
  margin: 0 auto;
  background-color: #741AB8;
  /* background-color: #07B84E; */


}

footer {
  position: absolute;
  bottom: 0;
  display: block;
  height: 50px;
  width: 100%;
  background-color: #07B84E;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

footer span{
  display: block;
}


header {
  background-color: #07B84E;
  /* background-color: #B8832C; */

  width: 100vw;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

header nav ul {
  display: flex;
  list-style: none;
  font-size: 2.5rem;
}
header nav ul li {
  margin: 0 15px;
  color: #fff;
}

header nav ul li:last-child {
  margin-left: 30px;
}


header nav ul li a {
  color: #191c03;
}

header img {
  width: 200px;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    margin-bottom: 15px;
  }
}

.fluid {
  background-color: #741AB8;
}

/*card*/
.card {
  padding: 15px;
  max-width: 800px;
  height: fit-content;
  background-color: #741AB8;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  justify-content: space-between;
  /* margin-bottom: 50px; */

}

.fluid:not(:last-child) .card {
  margin-bottom: 50px;
}

.esquerda {
  /* height: 100%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.direita {
  /* height: 100%; */
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #fff;
  padding-left: 15px;
  text-align: justify;
  /* align-self: flex-end; */
  /* justify-self: flex-end; */
}

.photo {
  margin-left: auto;
  /* text-align: right; */
    align-self: flex-end;
  /* justify-self: flex-end; */
}

.personal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.simbol {
  margin-bottom: 15px;
}

.bio {
  color: #fff;
  font-style: italic;
  margin-bottom: 15px;
}

.linkedin {
  border: 1px solid rgba(0,0,0,.1);
  width: 100%;
  color: #fff;
  padding: 5px;
}

.name {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}
.card .title, .card .age, .card .stack, .card .location {
  color: #64DC40;
  text-transform: uppercase;
}
.age {
  margin-bottom: 15px;
}

.text {
  color: #fff;
}


.photo img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  box-shadow: 5px 5px 15px #000;
  margin: 0 15px;
}

.simbol {
  margin: auto;
  width: 160px;
  height: 200px;
}

._hacker {
  background: url(../img/simbol.png) no-repeat center;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: contain;
}

._hipster {
  background: url(../img/simbol.png) no-repeat center;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: contain;
}

._hustler {
  background: url(../img/simbol.png) no-repeat center;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: contain;
}

._hyper {
  background: url(../img/simbol.png) no-repeat center;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: contain;
}

.block span {
  display: block;
}

.btn {
  position: absolute;
  top: 50vh;
  cursor: pointer;
  transition: all 0.2s linear;

}

.triangle-left {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid #fff;
  border-bottom: 25px solid transparent;
}

.triangle-left:hover {
  border-right: 50px solid #07B84E;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #fff;
  border-bottom: 25px solid transparent;
  right: 0;
}

.triangle-right:hover {
  border-left: 50px solid #07B84E;
}


@media (max-width: 800px) {
  .direita {
    width: 50%;
  }
  .esquerda {
    width: 50%;
    padding-right: 15px;
  }
  .photo {
    display: none;
  }

  ._hacker, ._hipster, ._hustler, .hyper {
    background: url(../img/FabioMuller.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 15px #000;
  }

}

@media (max-width: 570px) {
  .card {
    flex-direction: column;
    align-content: space-between;
  }
  .direita {
    width: 100%;
    border: none;
    padding: 0;
  }
  .esquerda {
    width: 100%;
    margin-bottom: 15px;
  }
  .direita .block:not(:last-child) {
    margin-bottom: 15px;
  }

}